<div id="dashboard-filter">
   <div id="filter-header">Results Filter</div>
   
   <div id='filter-left'>
      <p>
        <span class="filter-label">Ground Truth:</span>
        <%= select_tag 'gt-filter', gt_filter_options(@gt_filter), class: 'filter-setting' %>
      </p>
      <p>
         <span class="filter-label">Works:</span>
         <%= select_tag 'ocr-filter', ocr_filter_options(@ocr_filter), style: 'width: 204px;' %>
      </p>
      <p>
         <span class="filter-label">Collection:</span>
         <%= select_tag 'collection-filter', collection_filter_options(@collection_filter), style: 'width: 191px;' %>
      </p>
      <p>
         <span class="filter-label">OCR Batch:</span>
         <%= select_tag 'batch-filter', batch_filter_options(@batch_filter) %>
      </p>
   </div>
   
   <div id='filter-right'>
      <p>
         <span class="filter-label">Print Font:</span>
         <%= select_tag 'print-font-filter', print_font_filter_options(@print_font_filter) %>
      </p>
      <p class="filter-label" style="margin-top:10px">OCR completed date:</p>
      <p>
         <span class="filter-label">From:</span>
         <input class="filter-setting date-filter" type="text" id="from-date" value="<%= @from_filter %>"/>
         <span class="filter-label">To:</span>
         <input class="filter-setting date-filter to" type="text" id="to-date"  value="<%= @to_filter %>"/>
      </p>
      <input id="filter-apply" class="filter-btn" type="button" value="Apply Filter"/>
      <input id="filter-reset" class="filter-btn" type="button" value="Reset Filter"/>
   </div>
</div>