<div id="dashboard-main">
   <div id="dashboard-detail">
      <%= render :partial => 'filter' %>
      <%= render :partial => 'queue_status' %>
      <table id="detail-table">
         <thead>
            <tr>
               <th class="check-col"></th>
               <th class="icon-col"></th>
               <th class="narrow-col">Data Set</th>
               <th class="medium-col">TCP Number</th>
               <th>Title</th>
               <th class="author-col">Author</th>
               <th class="date-col">OCR Date</th>               
               <th class="medium-col">OCR Engine</th>
               <th class="author-col">OCR Batch</th>
               <th class="result-col">Juxta</th>
               <th class="result-col">RETAS</th>
            </tr>
         </thead>
         <tbody>
         </tbody>
      </table>
   </div>
</div>

<span id="types-json" style="display: none"><%= ActiveSupport::JSON.encode( @job_types ) %></span>
<span id="engines-json" style="display: none"><%= ActiveSupport::JSON.encode( @engines ) %></span>
<span id="batch-json" style="display: none"><%= ActiveSupport::JSON.encode( @batches ) %></span>
<%= render :partial => '/common/pick_batch_popup' %>
<%= render :partial => '/common/new_batch_popup' %>
<%= render :partial => '/common/wait_popup' %>
