<div id="dashboard-main">
   <div id="dashboard-detail">
      <%= render :partial => 'filter' %>
      <%= render :partial => 'queue_status' %>
      <div style="clear: both"></div>
      
      <div id="table-div">
         <input type="button" id="select-all" value="Select All" />
         <input type="button" id="schedule-selected" value="Schedule Selected" />
         <input type="button" id="schedule-all" value="Schedule All" />
         <input type="button" id="font-all" value="Set Print Font for Selected Works" />
    <%#= form_for :export, url: dashboard_index_path(format: 'csv', q: params[:q]), html: { method: :get } do |f| %>
      <%#= f.hidden_field :params, value: params.to_json %>
      <%#= f.submit "Export table" %>
    <%# end %>
		<!--
    <form id="export" action="<%#= dashboard_index_path(format: 'csv') %>" method="get">
      <input type="hidden" id="dashboard-params" value="<%#= params.to_json %>" >
		  <input type="submit" value="Export table" />
		</form>
    -->
         <span id="q" style="display:none"><%= params[:q].to_json %></span>
         <table id="detail-table" data-source="<%= dashboard_index_path(format: 'json') %>">
            <thead>
               <tr>
                  <th></th>
                  <th>Status</th>
                  <th></th>
                  <th>Collection</th>
                  <th>ID</th>
                  <th>Book ID</th>
                  <th>GT Number</th>
                  <th>Language</th>
                  <th>Title</th>
                  <th>Author</th>
                  <th>Font</th>
                  <th>OCR Date</th>
                  <th>OCR Engine</th>
                  <th>OCR Batch</th>
                  <th>Juxta</th>
                  <th>RETAS</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>
   </div>
</div>

<%= render :partial => 'work_errors_popup' %>
