<span id="collation-id" style="display: none"><%= @collation_id %></span>
<span id="collation-status" style="display: none"><%= @collation_status %></span>
<span id="work-id" style="display: none"><%= @work_id %></span>
<span id="batch-id" style="display: none"><%= @batch_id %></span>

<a class="dashboard-back"  href="/results?work=<%= @work_id %>&batch=<%= @batch_id %>"><< Back To Page Results</a>

<% if @error == true %>
    <div id="juxta-error">
       <%= @juxta_error_message %>
    </div>
<% else %>
   <div id="page-scroller" class="scroller"> 
      <%= raw(@content) %>
   </div>
<% end %>

<%= render :partial => 'wait_popup' %>
