<span id="work-id" style="display:none"><%= @work.id %></span>
<span id="batch-id" style="display:none"><%= @batch_job.present? ? @batch_job.id : nil %></span>

<div id="results-summary">
   <table id="results-summary">
      <tr>
        <td class="summary-label">Work:</td>
        <td>(<%= @work.id %>) <%= @work.wks_title %></td>
      </tr>
      <tr>
<% if @work.wks_book_id.present? %>
     <tr>
       <td class="summary-label">Book ID:</td>
       <td><%= @work.wks_book_id %></td>
     </tr>
<% end %>
     <tr>
        <td class="summary-label">Batch:</td>
<% if @batch_job.present? %>
        <td>(<%= @batch_job.id %>) <%= @batch_job.name %></td>
<% else %>
        <td>Not Applicable</td>
<% end %>
      </tr>
      <tr>
        <td class="summary-label">Print Font:</td>
<% if @work.print_font.present? %>
        <td><span id="work-print-font"><%= @work.print_font.name %></span></td>
<% else %>
        <td><span id="work-print-font">Not Set</span></td>
<% end %>
      </tr>
   </table>
</div>

<div id="results-detail">
   
   <div>
   <a class="dashboard-back" href="/"><< Back To Dashboard</a>
   </div>
   <div style="margin: 10px;">
   <input type="button" id="select-all-pages" value="Select All" />
   <input type="button" id="select-failed-pages" value="Select Failed" />
   <input type="button" id="schedule-pages" value="Schedule Selected" />
   <input type="button" id="set-work-font" value="Set Print Font for Work" />
   <input type="button" id="add-pages-to-batchjob-button" value="Schedule Selected to Existing Batchjob" />
   </div>

   <div id="toggle-col">
     Toggle Column: 
     <a class="toggle-col" data-column="16">Multicol</a> - 
     <a class="toggle-col" data-column="17">Skew Idx</a>
   </div>
   
   <table id="pages-table" style="display:none">
      <thead>
         <tr>
            <th rowspan="2" class="check-col"></th>
            <th rowspan="2" class="icon-col"></th>
            <th rowspan="2" class="icon-col"></th>
            <th rowspan="2" class="icon-col"></th>
            <th rowspan="2" class="icon-col"></th>
            <th rowspan="2" class="icon-col"></th>
            <th rowspan="2" class="result-col">Page Number</th>
            <th rowspan="2" class="result-col">Juxta</th>
            <th rowspan="2" class="result-col">RETAS</th>
            <th rowspan="2" class="result-col">SEASR ecorr</th>
            <th rowspan="2" class="result-col">Est. Pg. Quality</th>
            <th colspan="<%= @stats.size %>">Correction Stats</th>
            <th rowspan="2" class="result-col">Mutlicol</th>
            <th rowspan="2" class="result-col">Skew Idx</th>
         </tr>
         <tr>
           <% @stats.each do |stat| %>
           <th class="result-col"><%= stat %></th>
           <% end %>
         </tr>
      </thead>
      <tbody>
      <% @pages.each do |page| %>
        <%
          if @batch_job.present?
            page_result = page.page_result_by_batch_id(@batch_job.id)
            postproc_page = page.postproc_page_by_batch_id(@batch_job.id)
          else
            page_result = nil
            postproc_page = nil
          end
            job_queue = page.job_queues.first
        %>
        <tr>
          <td><input class='sel-cb' type='checkbox' id='sel-page-<%= page.id %>'></td>
          <td><%= page_status_icon(job_queue).html_safe %></td>
          <td><%= page_image(page).html_safe %></td>
          <td><%= ocr_output_div_by_type(page_result, 'text').html_safe %></td>
          <td><%= ocr_output_div_by_type(page_result, 'hocr').html_safe %></td>
          <td><%= detail_link(page_result).html_safe %></td>
          <td><%= page.pg_ref_number %></td>
          <td><%= page_result_data(page_result, 'juxta_change_index') %></td>
          <td><%= page_result_data(page_result, 'alt_change_index') %></td>
          <td><%= postproc_page_data(postproc_page, 'pp_ecorr') %></td>
          <td><%= postproc_page_data(postproc_page, 'pp_pg_quality') %></td>
          <% @stats.each do |stat| %>
            <% if postproc_page.present? && postproc_page.pp_health.present? %>
              <td><%= postproc_page.pp_health[stat] %></td>
            <% else %>
              <td>-</td>
            <% end %>
          <% end %>
          <td><%= postproc_page_data(postproc_page, 'multicol') %></td>
          <td><%= postproc_page_data(postproc_page, 'skew_idx') %></td>
        </tr>
      <% end %>
      </tbody>
   </table>
   
   <a  class="dashboard-back"  href="/"><< Back To Dashboard</a>
   <%= render :partial => 'txt_viewer_popup' %>
   <%= render :partial => 'error_popup' %>
   <%= render :partial => 'add_to_batchjob', :locals => { path: results_add_to_batchjob_path } %>
</div>

<!--
<div class="modal fade" id="add-pages-to-batchjob" tabindex="-1" role="dialog" aria-labelledby="add-pages-to-batchjob-label" aria-hidden="true">
</div>
-->