<div id="new-batch-popup" class="emop-popup" title="Create Batch">
   <p id="new-batch-error">Batch name is required</p>
   <table>
      <tr><td class="table-label">Name:</td><td class="table-input"><input type="text" id="new-name"/></td></tr>
      <tr>
         <td class="table-label">Batch Type:</td>
         <td class="table-input"><%= select_tag "new-type", options_from_collection_for_select(JobType.all, :id, :name) %></td>
      </tr>
      <tr class="engine-row">
         <td class="table-label">OCR Engine:</td>
         <td class="table-input"><%= select_tag "new-ocr", options_from_collection_for_select(OcrEngine.all, :id, :name) %></td>
      </tr>
      <tr class="font-row">
         <td class="table-label">Font Training Library:</td>
         <td class="table-input">
            <div id="fonts-div">
               <%= select_tag "new-font", options_for_select([['None', nil], ['Previous BatchJob', 'previous']]) + options_from_collection_for_select(Font.all, :id, :font_name, nil) %>
               <span id="no-fonts" style="display:none">No fonts defined</span>
               <input id="upload-font" type="button" value="New" />
            </div>
         </td>
      </tr>
      <tr class="font_training_results_batch_job_id" style="display: none">
         <td class="table-label">BatchJob Font Training:</td>
         <td class="table-input">
            <%= select_tag "font_training_results_batch_job_id", options_for_select([['None', nil]]) + options_from_collection_for_select(BatchJob.font_training, :id, :name, nil) %>
         </td>
      </tr>
      <tr class="language-model-row">
         <td class="table-label">Language Model:</td>
         <td class="table-input">
            <%= select_tag "new-language-model", options_for_select([['None', nil]]) + options_from_collection_for_select(LanguageModel.all, :id, :name, nil) %>
         </td>
      </tr>
      
      <tr><td class="table-label">Parameters:</td><td><input type="text" id="new-params"/></td></tr>
      <tr><td class="table-label" style="vertical-align: text-top;">Notes:</td><td><textarea id="new-notes"></textarea></td></tr>
   </table>   
   <span id="batch-json" style="display: none"></span>
   <span id="q" style="display:none"><%= params[:q].to_json %></span>
</div>